# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Data and models
data/raw/*
data/processed/*
data/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# Node
node_modules/
.next/

# IDE
.vscode/
.idea/

# System
.DS_Store